@media (max-width: 500px) {
  /*Date picker*/
  .date-picker {
    flex-direction: column;
    img {
      margin: 0;
      height: 25px;
      transform: translate(80px, -33px);
    }
  }

  /*Section List*/
  .section__list {
    .section__list-element {
      justify-content: space-between;

      p,
      a {
        font-size: 12px;
      }

      img {
        display: none;
      }
    }
  }

  /*Aside*/
  .sidebar {
    width: 50vw;
    height: 100vh;
    left: -100%;
  }
  .intro {
    .intro__title {
      font-size: 20px;
    }

    .fa-bars {
      position: fixed;
      top: 20px;
      left: 20px;
      color: $brand-main-color;
    }

    .fa-bars:hover {
      color: $brand-main-color;
    }
    .anchor:hover {
      color: $brand-main-color;
    }
  }

  .sidebar__manager {
    h3 {
      font-size: 16px;
    }
    .manager__details {
      .manager_desc {
        color: $brand-light-color;
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
  .sidebar--hide {
    left: 0;
  }

  .sidebar__list {
    .sidebar__element {
      height: 25px;
      > * {
        font-size: 14px;
      }
    }
  }
  .sidebar-navbar {
    display: flex;
  }

  /*Table general*/
  table {
    tr {
      display: flex;
      justify-content: space-between;
      align-content: center;

      td {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 10px;
        padding: 0 15px;
        border-bottom: 0.5px solid $hover-background-color;
      }
    }
  }

  /*Pages*/
  .main__chart {
    position: relative;
    height: 200px;
    overflow-x: scroll;
    .main__chart--container {
      position: absolute;
      left: 0;
      top: 0;
      width: 400px;
    }
  }
}
