/* Colors */
$paragraph-color: #000000;
$brand-main-color: #f39c12;
$brand-main-color-darker: #d35400;
$brand-light-color: #ecf0f1;
$dark-background-color: #2c3e50;
$light-background-color: #ecf0f1;
$hover-background-color: #95a5a6;
$link-color: #2980b9;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Open Sans', Helvetica, Arial;
$paragraph-font: 'Open Sans', Helvetica, Arial;

/**/
