.main__stats {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.main__chart {
  display: flex;
  justify-content: center;
  .main__chart--container {
    position: static;
    width: 960px;
  }
}
