.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 50px;
  border-bottom: 0.5px solid $hover-background-color;

  > * {
    margin: 3px 3px;
  }

  input {
    height: 30px;
    font-family: $brand-font;
  }
  img {
    margin: 0;
    height: 25px;
    transform: translateX(-40px);
  }
}
