ul {
  padding: 0;

  li {
    list-style-type: none;

    a {
      color: $paragraph-color;
      font-family: $paragraph-font;

      &:hover {
        color: $brand-light-color;
      }

      &:active {
        color: $brand-light-color;
      }
    }
  }
}
